{% extends 'base.html' %}
{% block content%}
<div class="container mt-5 p-3 w-3 shadow  mx-auto">
  <h2 class="text-center">BMI</h2>
  <div class="container mt-5">
    <form method="post">
       {% csrf_token %}
      <div class="mb-3 mt-3">
       <label class="form-label">weight</label>
      <input type="number" class="form-control" name="w">
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">height</label>
      <input type="number" class="form-control" name="h">
      </div>

      <div class="mb-3 mt-3">
        <input type="submit" value="BMI" class="ps-4 pe-4 bg-danger mt-4">
      </div>

      {% if result %}
      <h2>the BMI is {{result}}</h2>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}