{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container border border-2 mt-5 p-5 mb-5 text-center text-light">
<h2 class="mb-3">Verify</h2>
<form method="post">
    {% csrf_token %}
    <label class="form-label fw-bold">Enter otp</label>
    <input type="text" name="o">
    <div>
    <input type="submit" class="btn bg-primary mt-5 mb-3 text-light" value="Verify">
    </div>

</form>
    {% if messages %}
    <ul>
        {% for i in messages %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}